<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fullexception.mapper.BabyImgMapper" >
  <resultMap id="BaseResultMap" type="com.fullexception.entity.BabyImg" >
    <id column="baby_img_id" property="babyImgId" jdbcType="INTEGER" />
    <result column="baby_info_id" property="babyInfoId" jdbcType="INTEGER" />
    <result column="baby_img_content" property="babyImgContent" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    baby_img_id, baby_info_id, baby_img_content, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from baby_img
    where baby_img_id = #{babyImgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from baby_img
    where baby_img_id = #{babyImgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fullexception.entity.BabyImg" >
    insert into baby_img (baby_img_id, baby_info_id, baby_img_content, 
      create_date)
    values (#{babyImgId,jdbcType=INTEGER}, #{babyInfoId,jdbcType=INTEGER}, #{babyImgContent,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.fullexception.entity.BabyImg" >
    insert into baby_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="babyImgId != null" >
        baby_img_id,
      </if>
      <if test="babyInfoId != null" >
        baby_info_id,
      </if>
      <if test="babyImgContent != null" >
        baby_img_content,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="babyImgId != null" >
        #{babyImgId,jdbcType=INTEGER},
      </if>
      <if test="babyInfoId != null" >
        #{babyInfoId,jdbcType=INTEGER},
      </if>
      <if test="babyImgContent != null" >
        #{babyImgContent,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fullexception.entity.BabyImg" >
    update baby_img
    <set >
      <if test="babyInfoId != null" >
        baby_info_id = #{babyInfoId,jdbcType=INTEGER},
      </if>
      <if test="babyImgContent != null" >
        baby_img_content = #{babyImgContent,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
    </set>
    where baby_img_id = #{babyImgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fullexception.entity.BabyImg" >
    update baby_img
    set baby_info_id = #{babyInfoId,jdbcType=INTEGER},
      baby_img_content = #{babyImgContent,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE}
    where baby_img_id = #{babyImgId,jdbcType=INTEGER}
  </update>
</mapper>