<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fullexception.mapper.FriendGroupMapper" >
  <resultMap id="BaseResultMap" type="com.fullexception.entity.FriendGroup" >
    <id column="friend_group_id" property="friendGroupId" jdbcType="INTEGER" />
    <result column="friend_group_name" property="friendGroupName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    friend_group_id, friend_group_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from friend_group
    where friend_group_id = #{friendGroupId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from friend_group
    where friend_group_id = #{friendGroupId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fullexception.entity.FriendGroup" >
    insert into friend_group (friend_group_id, friend_group_name)
    values (#{friendGroupId,jdbcType=INTEGER}, #{friendGroupName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fullexception.entity.FriendGroup" >
    insert into friend_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="friendGroupId != null" >
        friend_group_id,
      </if>
      <if test="friendGroupName != null" >
        friend_group_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="friendGroupId != null" >
        #{friendGroupId,jdbcType=INTEGER},
      </if>
      <if test="friendGroupName != null" >
        #{friendGroupName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fullexception.entity.FriendGroup" >
    update friend_group
    <set >
      <if test="friendGroupName != null" >
        friend_group_name = #{friendGroupName,jdbcType=VARCHAR},
      </if>
    </set>
    where friend_group_id = #{friendGroupId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fullexception.entity.FriendGroup" >
    update friend_group
    set friend_group_name = #{friendGroupName,jdbcType=VARCHAR}
    where friend_group_id = #{friendGroupId,jdbcType=INTEGER}
  </update>
</mapper>