<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fullexception.mapper.FriendMapper" >
  <resultMap id="BaseResultMap" type="com.fullexception.entity.Friend" >
    <id column="friend_id" property="friendId" jdbcType="INTEGER" />
    <result column="host_id" property="hostId" jdbcType="INTEGER" />
    <result column="host_friend_id" property="hostFriendId" jdbcType="INTEGER" />
    <result column="friend_group_id" property="friendGroupId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    friend_id, host_id, host_friend_id, friend_group_id, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from friend
    where friend_id = #{friendId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from friend
    where friend_id = #{friendId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fullexception.entity.Friend" >
    insert into friend (friend_id, host_id, host_friend_id, 
      friend_group_id, create_date)
    values (#{friendId,jdbcType=INTEGER}, #{hostId,jdbcType=INTEGER}, #{hostFriendId,jdbcType=INTEGER}, 
      #{friendGroupId,jdbcType=INTEGER}, #{createDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.fullexception.entity.Friend" >
    insert into friend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="friendId != null" >
        friend_id,
      </if>
      <if test="hostId != null" >
        host_id,
      </if>
      <if test="hostFriendId != null" >
        host_friend_id,
      </if>
      <if test="friendGroupId != null" >
        friend_group_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="friendId != null" >
        #{friendId,jdbcType=INTEGER},
      </if>
      <if test="hostId != null" >
        #{hostId,jdbcType=INTEGER},
      </if>
      <if test="hostFriendId != null" >
        #{hostFriendId,jdbcType=INTEGER},
      </if>
      <if test="friendGroupId != null" >
        #{friendGroupId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fullexception.entity.Friend" >
    update friend
    <set >
      <if test="hostId != null" >
        host_id = #{hostId,jdbcType=INTEGER},
      </if>
      <if test="hostFriendId != null" >
        host_friend_id = #{hostFriendId,jdbcType=INTEGER},
      </if>
      <if test="friendGroupId != null" >
        friend_group_id = #{friendGroupId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
    </set>
    where friend_id = #{friendId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fullexception.entity.Friend" >
    update friend
    set host_id = #{hostId,jdbcType=INTEGER},
      host_friend_id = #{hostFriendId,jdbcType=INTEGER},
      friend_group_id = #{friendGroupId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=DATE}
    where friend_id = #{friendId,jdbcType=INTEGER}
  </update>
</mapper>