<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fullexception.mapper.PhotoAlbumGroupMapper" >
  <resultMap id="BaseResultMap" type="com.fullexception.entity.PhotoAlbumGroup" >
    <id column="photo_album_group_id" property="photoAlbumGroupId" jdbcType="INTEGER" />
    <result column="photo_album_group_name" property="photoAlbumGroupName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    photo_album_group_id, photo_album_group_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from photo_album_group
    where photo_album_group_id = #{photoAlbumGroupId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from photo_album_group
    where photo_album_group_id = #{photoAlbumGroupId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fullexception.entity.PhotoAlbumGroup" >
    insert into photo_album_group (photo_album_group_id, photo_album_group_name
      )
    values (#{photoAlbumGroupId,jdbcType=INTEGER}, #{photoAlbumGroupName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fullexception.entity.PhotoAlbumGroup" >
    insert into photo_album_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="photoAlbumGroupId != null" >
        photo_album_group_id,
      </if>
      <if test="photoAlbumGroupName != null" >
        photo_album_group_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="photoAlbumGroupId != null" >
        #{photoAlbumGroupId,jdbcType=INTEGER},
      </if>
      <if test="photoAlbumGroupName != null" >
        #{photoAlbumGroupName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fullexception.entity.PhotoAlbumGroup" >
    update photo_album_group
    <set >
      <if test="photoAlbumGroupName != null" >
        photo_album_group_name = #{photoAlbumGroupName,jdbcType=VARCHAR},
      </if>
    </set>
    where photo_album_group_id = #{photoAlbumGroupId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fullexception.entity.PhotoAlbumGroup" >
    update photo_album_group
    set photo_album_group_name = #{photoAlbumGroupName,jdbcType=VARCHAR}
    where photo_album_group_id = #{photoAlbumGroupId,jdbcType=INTEGER}
  </update>
</mapper>