<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fullexception.mapper.SayImgMapper" >
  <resultMap id="BaseResultMap" type="com.fullexception.entity.SayImg" >
    <id column="say_img_id" property="sayImgId" jdbcType="INTEGER" />
    <result column="photo_album_id" property="photoAlbumId" jdbcType="INTEGER" />
    <result column="say_id" property="sayId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    say_img_id, photo_album_id, say_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from say_img
    where say_img_id = #{sayImgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from say_img
    where say_img_id = #{sayImgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fullexception.entity.SayImg" >
    insert into say_img (say_img_id, photo_album_id, say_id
      )
    values (#{sayImgId,jdbcType=INTEGER}, #{photoAlbumId,jdbcType=INTEGER}, #{sayId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fullexception.entity.SayImg" >
    insert into say_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sayImgId != null" >
        say_img_id,
      </if>
      <if test="photoAlbumId != null" >
        photo_album_id,
      </if>
      <if test="sayId != null" >
        say_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sayImgId != null" >
        #{sayImgId,jdbcType=INTEGER},
      </if>
      <if test="photoAlbumId != null" >
        #{photoAlbumId,jdbcType=INTEGER},
      </if>
      <if test="sayId != null" >
        #{sayId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fullexception.entity.SayImg" >
    update say_img
    <set >
      <if test="photoAlbumId != null" >
        photo_album_id = #{photoAlbumId,jdbcType=INTEGER},
      </if>
      <if test="sayId != null" >
        say_id = #{sayId,jdbcType=INTEGER},
      </if>
    </set>
    where say_img_id = #{sayImgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fullexception.entity.SayImg" >
    update say_img
    set photo_album_id = #{photoAlbumId,jdbcType=INTEGER},
      say_id = #{sayId,jdbcType=INTEGER}
    where say_img_id = #{sayImgId,jdbcType=INTEGER}
  </update>
</mapper>