<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fullexception.mapper.StarMapper" >
  <resultMap id="BaseResultMap" type="com.fullexception.entity.Star" >
    <id column="star_id" property="starId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="VARCHAR" />
    <result column="star_fortune" property="starFortune" jdbcType="VARCHAR" />
    <result column="star_character" property="starCharacter" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    star_id, name, start_time, end_time, star_fortune, star_character
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from star
    where star_id = #{starId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from star
    where star_id = #{starId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fullexception.entity.Star" >
    insert into star (star_id, name, start_time, 
      end_time, star_fortune, star_character
      )
    values (#{starId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{startTime,jdbcType=VARCHAR}, 
      #{endTime,jdbcType=VARCHAR}, #{starFortune,jdbcType=VARCHAR}, #{starCharacter,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fullexception.entity.Star" >
    insert into star
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="starId != null" >
        star_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="starFortune != null" >
        star_fortune,
      </if>
      <if test="starCharacter != null" >
        star_character,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="starId != null" >
        #{starId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="starFortune != null" >
        #{starFortune,jdbcType=VARCHAR},
      </if>
      <if test="starCharacter != null" >
        #{starCharacter,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fullexception.entity.Star" >
    update star
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=VARCHAR},
      </if>
      <if test="starFortune != null" >
        star_fortune = #{starFortune,jdbcType=VARCHAR},
      </if>
      <if test="starCharacter != null" >
        star_character = #{starCharacter,jdbcType=VARCHAR},
      </if>
    </set>
    where star_id = #{starId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fullexception.entity.Star" >
    update star
    set name = #{name,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=VARCHAR},
      star_fortune = #{starFortune,jdbcType=VARCHAR},
      star_character = #{starCharacter,jdbcType=VARCHAR}
    where star_id = #{starId,jdbcType=INTEGER}
  </update>
</mapper>