<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fullexception.mapper.UserExceptionMapper" >
  <resultMap id="BaseResultMap" type="com.fullexception.entity.UserException" >
    <id column="exception_id" property="exceptionId" jdbcType="INTEGER" />
    <result column="exception_name" property="exceptionName" jdbcType="VARCHAR" />
    <result column="exception_content" property="exceptionContent" jdbcType="VARCHAR" />
    <result column="exception_parent_position" property="exceptionParentPosition" jdbcType="VARCHAR" />
    <result column="exception_child_position" property="exceptionChildPosition" jdbcType="VARCHAR" />
    <result column="exception_ip" property="exceptionIp" jdbcType="VARCHAR" />
    <result column="exception_date" property="exceptionDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    exception_id, exception_name, exception_content, exception_parent_position, exception_child_position, 
    exception_ip, exception_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_exception
    where exception_id = #{exceptionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_exception
    where exception_id = #{exceptionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fullexception.entity.UserException" >
    insert into user_exception (exception_id, exception_name, exception_content, 
      exception_parent_position, exception_child_position, 
      exception_ip, exception_date)
    values (#{exceptionId,jdbcType=INTEGER}, #{exceptionName,jdbcType=VARCHAR}, #{exceptionContent,jdbcType=VARCHAR}, 
      #{exceptionParentPosition,jdbcType=VARCHAR}, #{exceptionChildPosition,jdbcType=VARCHAR}, 
      #{exceptionIp,jdbcType=VARCHAR}, #{exceptionDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.fullexception.entity.UserException" >
    insert into user_exception
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="exceptionId != null" >
        exception_id,
      </if>
      <if test="exceptionName != null" >
        exception_name,
      </if>
      <if test="exceptionContent != null" >
        exception_content,
      </if>
      <if test="exceptionParentPosition != null" >
        exception_parent_position,
      </if>
      <if test="exceptionChildPosition != null" >
        exception_child_position,
      </if>
      <if test="exceptionIp != null" >
        exception_ip,
      </if>
      <if test="exceptionDate != null" >
        exception_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="exceptionId != null" >
        #{exceptionId,jdbcType=INTEGER},
      </if>
      <if test="exceptionName != null" >
        #{exceptionName,jdbcType=VARCHAR},
      </if>
      <if test="exceptionContent != null" >
        #{exceptionContent,jdbcType=VARCHAR},
      </if>
      <if test="exceptionParentPosition != null" >
        #{exceptionParentPosition,jdbcType=VARCHAR},
      </if>
      <if test="exceptionChildPosition != null" >
        #{exceptionChildPosition,jdbcType=VARCHAR},
      </if>
      <if test="exceptionIp != null" >
        #{exceptionIp,jdbcType=VARCHAR},
      </if>
      <if test="exceptionDate != null" >
        #{exceptionDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fullexception.entity.UserException" >
    update user_exception
    <set >
      <if test="exceptionName != null" >
        exception_name = #{exceptionName,jdbcType=VARCHAR},
      </if>
      <if test="exceptionContent != null" >
        exception_content = #{exceptionContent,jdbcType=VARCHAR},
      </if>
      <if test="exceptionParentPosition != null" >
        exception_parent_position = #{exceptionParentPosition,jdbcType=VARCHAR},
      </if>
      <if test="exceptionChildPosition != null" >
        exception_child_position = #{exceptionChildPosition,jdbcType=VARCHAR},
      </if>
      <if test="exceptionIp != null" >
        exception_ip = #{exceptionIp,jdbcType=VARCHAR},
      </if>
      <if test="exceptionDate != null" >
        exception_date = #{exceptionDate,jdbcType=DATE},
      </if>
    </set>
    where exception_id = #{exceptionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fullexception.entity.UserException" >
    update user_exception
    set exception_name = #{exceptionName,jdbcType=VARCHAR},
      exception_content = #{exceptionContent,jdbcType=VARCHAR},
      exception_parent_position = #{exceptionParentPosition,jdbcType=VARCHAR},
      exception_child_position = #{exceptionChildPosition,jdbcType=VARCHAR},
      exception_ip = #{exceptionIp,jdbcType=VARCHAR},
      exception_date = #{exceptionDate,jdbcType=DATE}
    where exception_id = #{exceptionId,jdbcType=INTEGER}
  </update>
</mapper>