<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fullexception.mapper.HeadImgMapper" >
  <resultMap id="BaseResultMap" type="com.fullexception.entity.HeadImg" >
    <id column="head_img_id" property="headImgId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="head_img" property="headImg" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    head_img_id, user_id, head_img, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from head_img
    where head_img_id = #{headImgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from head_img
    where head_img_id = #{headImgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fullexception.entity.HeadImg" >
    insert into head_img (head_img_id, user_id, head_img, 
      create_date)
    values (#{headImgId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{headImg,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.fullexception.entity.HeadImg" >
    insert into head_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="headImgId != null" >
        head_img_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="headImg != null" >
        head_img,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="headImgId != null" >
        #{headImgId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="headImg != null" >
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fullexception.entity.HeadImg" >
    update head_img
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="headImg != null" >
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
    </set>
    where head_img_id = #{headImgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fullexception.entity.HeadImg" >
    update head_img
    set user_id = #{userId,jdbcType=INTEGER},
      head_img = #{headImg,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE}
    where head_img_id = #{headImgId,jdbcType=INTEGER}
  </update>
</mapper>