<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fullexception.mapper.PhotoAlbumMapper" >
  <resultMap id="BaseResultMap" type="com.fullexception.entity.PhotoAlbum" >
    <id column="photo_album_id" property="photoAlbumId" jdbcType="INTEGER" />
    <result column="img_menu_id" property="imgMenuId" jdbcType="INTEGER" />
    <result column="photo_content" property="photoContent" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fullexception.entity.PhotoAlbum" extends="BaseResultMap" >
    <result column="photo_remark" property="photoRemark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    photo_album_id, img_menu_id, photo_content
  </sql>
  <sql id="Blob_Column_List" >
    photo_remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from photo_album
    where photo_album_id = #{photoAlbumId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from photo_album
    where photo_album_id = #{photoAlbumId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fullexception.entity.PhotoAlbum" >
    insert into photo_album (photo_album_id, img_menu_id, photo_content, 
      photo_remark)
    values (#{photoAlbumId,jdbcType=INTEGER}, #{imgMenuId,jdbcType=INTEGER}, #{photoContent,jdbcType=VARCHAR}, 
      #{photoRemark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fullexception.entity.PhotoAlbum" >
    insert into photo_album
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="photoAlbumId != null" >
        photo_album_id,
      </if>
      <if test="imgMenuId != null" >
        img_menu_id,
      </if>
      <if test="photoContent != null" >
        photo_content,
      </if>
      <if test="photoRemark != null" >
        photo_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="photoAlbumId != null" >
        #{photoAlbumId,jdbcType=INTEGER},
      </if>
      <if test="imgMenuId != null" >
        #{imgMenuId,jdbcType=INTEGER},
      </if>
      <if test="photoContent != null" >
        #{photoContent,jdbcType=VARCHAR},
      </if>
      <if test="photoRemark != null" >
        #{photoRemark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fullexception.entity.PhotoAlbum" >
    update photo_album
    <set >
      <if test="imgMenuId != null" >
        img_menu_id = #{imgMenuId,jdbcType=INTEGER},
      </if>
      <if test="photoContent != null" >
        photo_content = #{photoContent,jdbcType=VARCHAR},
      </if>
      <if test="photoRemark != null" >
        photo_remark = #{photoRemark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where photo_album_id = #{photoAlbumId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fullexception.entity.PhotoAlbum" >
    update photo_album
    set img_menu_id = #{imgMenuId,jdbcType=INTEGER},
      photo_content = #{photoContent,jdbcType=VARCHAR},
      photo_remark = #{photoRemark,jdbcType=LONGVARCHAR}
    where photo_album_id = #{photoAlbumId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fullexception.entity.PhotoAlbum" >
    update photo_album
    set img_menu_id = #{imgMenuId,jdbcType=INTEGER},
      photo_content = #{photoContent,jdbcType=VARCHAR}
    where photo_album_id = #{photoAlbumId,jdbcType=INTEGER}
  </update>
</mapper>